@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

@using EntityLayer.ViewModels
@model List<PostViewModel>

<h3>My Posts </h3>

<div class="row">
    <div class="col-md-8">
        <div class="typography-line" style="padding-left: 0%;">
            @foreach (var item in Model)
            {
                <blockquote>
                    <p class="blockquote blockquote-primary">
                        @item.Post.Text
                        <br>
                        Emotion: @item.EmotionResult.Prediction
                    </p>
                </blockquote>
                <br />
            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div class="card-body">
                <p class="card-text">
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="javascript:void(0)">
                            @*<img class="avatar" src="../assets/img/emilyz.jpg" alt="...">
                            @foreach (var post in Model)
                            {
                                @if (post.User != null)
                                {
                                    <user-picture-thumbnail class="rounded-circle" picture-url="@post.User.PictureUrl">
                                    </user-picture-thumbnail>
                                }
                            }*@
                            <h5 class="title">@ViewBag.v1</h5>
                        </a>
                        <p class="description">
                            @ViewBag.v4
                        </p>
                    </div>
                </p>
            </div>
            <div class="card-footer">
                <div class="button-container">
                    <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                        <i class="fab fa-facebook"></i>
                    </button>
                    <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                        <i class="fab fa-google-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
